/********************
YOUR STYLES
*******************/

/* Global or Sitewide */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

/* Text Settings */

body{
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    color: black;
    line-height: 1.6;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    margin-bottom: .5em;
    text-align: center;
}

h3 {
    color: black;
    font-size: 1.5em;
    font-family: 'Libre Baskerville', serif;
}

section p {
    color: black;
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
    margin-top: 2em;
    text-align: center;
}

h4 {
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
}


/* Layout */
* { box-sizing: border-box; }

img {
    height: auto;
    width: 555px
}

section {
  /* Fallback: Floated in No JS */
  float: left;
  padding: 1em;
}

/* clearfix */
section:after {
  content: '';
  display: block;
  clear: both;
}

article {
    margin: 0 auto;
    padding: 10px;
}

h1 {
    font-size: 6em;
    text-align: center;
    text-transform: ;
}


/* Masonry Styling */
section {
  background: #66CACC;
  border: 1px solid white;
  /* vertical space between */
  margin-bottom: 7px;
/* DEFAULT CONTENT WIDTH */
  width: 200px;
}

/* SET OWN HEIGHTS */
.tall {
  height: 870px;
}

.med {
  height: 300px;
}

.short {
  height: 150px;
}

section:hover {
    background: lightblue;
    transition: 1s;
}

/********************
MEDIA QUERIES
*******************/

/* Mobile */

@media (min-width: 480px) {
    h1 {
        font-size: 3em;
    }
}

/* Tablet */

@media (min-width: 768px) {
    section {
        width: 600px;
    }
}

/* Desktop */

@media (min-width: 1024px) {
    
}
